body{
    width:100vw;
    height:auto;
    background-color: darkblue;
    margin:0 auto;
}
header{
    width:100vw;
    height:40px;
    background-color: orangered;
    display: flex;
    align-items: center;
    justify-content: center;
}
  .mess{
    color:blue;
    font-weight: 800;
    font-size: 120%;
  }
  .container{
    background-color: white;
    min-width: 80px;
    min-height: 30px;
    width:170px;
    height:auto;
    border-radius: 10px;
    margin:10px 10px;
    text-align: center;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
  };
  .room1{
    width:80px;
    height:50px;
    
  }
  .maniac{
    font-weight: 500;
  }
  .former{
    background-color: darkred;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250vw;
    margin: 10% auto;
    height: 250px;
    border-radius: 50px;

  }
  #idan{
    width:20vw;
    height:30px;
    border-radius: 10px;
    border: none; 
    padding: 15px 15px;
  }
  #idan-button{
    width:10vw;
    height:40px;
    background-color: #f2a516;
    box-shadow: 1px 1px 1px black;  
    border-radius: 10px;
  }